.body{
    height: 844px;
    width: 390px;
    text-align: center;
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 15px;
    justify-content: center;
    border-style: solid;
    background-color: rgba(137, 124, 240,.3);
}
.menu{
    padding-top: 7px;
}
.logo{
    padding-top: 13px;
}
.search{
    padding-top: 11px;
}
.feels{
    width: 338px;
    height: 575px;
    background-color: white;
    border-radius: 20px;
   margin-top: 13%;
    margin-left: 6%;
    margin-right: 6%;
}
.close{
    margin: 5%;
}
.close img{
    width: 32px;
}
.close a:hover {
    color: none;
    text-decoration: none;
  }
.planet{
    padding-top: 100px;
}
.pplanet{
    padding: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: grey;
}
.faces{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "crying sad happy lol smiling";
    margin-left: 5%;
    margin-right: 5%;
}
.navimg img{
    padding-top: 5px;
    width: 386px;
    border-radius: 12px;
}
.faces a:hover{
    box-shadow: 4px 4px 2px 2px #D497F5;
    border-radius: 15px;
}
