.body{
    height: 844px;
    width: 390px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
    border-radius: 15px;
    justify-content: center;
    border-style: solid;
    background-color: rgba(137, 124, 240,.3);
    font-family: 'Inter', sans-serif;
}
button{font-family: 'Roboto', sans-serif;}
.menu{
    padding-top: 7px;
}
.logo{
    padding-top: 13px;
}
.logoImg{
    width:150px;
  }
.search{
    padding-top: 11px;
}
.feels{
    width: 338px;
    height: 575px;
    background-color: white;
    border-radius: 20px;
   margin-top: 13%;
    margin-left: 6%;
    margin-right: 6%;
    box-shadow: 0px 4px 20px 0px rgba(137,124,240,0.6);
}
.close{
    margin: 5%;
}
.close img{
    width: 32px;
}
.close a:hover {
    color: none;
    text-decoration: none;
  }
.planet{
    padding-top: 125px;
}
.pplanet{
    padding: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: grey;
    line-height: 10px;
    margin-top: 35px;
}
.faces{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "crying sad happy lol smiling";
    margin-left: 10%;
    margin-right: 10%;
}
.navimg img{
    padding-top: 5px;
    width: 386px;
    border-radius: 12px;
}
.side-menu {
    height: 844px;
    width: 222px;
    background-color: #897CF0;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.2s;
    visibility: hidden;
    z-index: 50;
}

.showMenu {
    transform: translateX(0);
    visibility: visible;
}

.side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button {
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.side-menu-row {
    width: 150px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    padding-bottom: 20px;
    cursor: pointer;
}

.side-menu-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

/* Start Bottom Nav Bar*/
ul{
    list-style:none;
}
.navBar{
    height: 72px;
    width: 390px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 15px;
}
.nav_list {
    height: 72px;
    width:385px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 45px 0px #A2BBC6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right:30px;
    margin-top: 47px;
    background-color:white;
  }
.rocketImg{
    position:absolute;
    top:830px;
    left:48%;
}
li img{
    cursor: pointer;
}
/* End Bottom Nav Bar*/